@model IEnumerable<CryptoPulse.Models.Coin>

<div class="container">
    <h2>Coins</h2>
    <hr />

    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price USD</th>
                    <th>Percent Change 24h</th>
                    <th>Percent Change 1h</th>
                    <th>Percent Change 7d</th>
                    <th>Market Cap USD</th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Symbol)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.PriceUSD)</td>
                        <td>@Html.DisplayFor(modelItem => item.PercentChange24h)</td>
                        <td>@Html.DisplayFor(modelItem => item.PercentChange1h)</td>
                        <td>@Html.DisplayFor(modelItem => item.PercentChange7d)</td>
                        <td>@Html.DisplayFor(modelItem => item.MarketCapUSD)</td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <td>
                                <form method="post" asp-action="AddToWatchListAndPopulateMarkets">
                                    <input type="hidden" name="coinJson" value='@System.Text.Json.JsonSerializer.Serialize(item)' />
                                    <button type="submit" class="btn btn-primary">+</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


    <!-- Include Bootstrap JavaScript from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Your custom script -->
    <script>
        alertDbSave(@ViewBag.dbSuccessComp);
    </script>
